version: 2
updates:
  # Enable version updates for npm
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
      time: '09:00'
    open-pull-requests-limit: 5
    reviewers:
      - 'teazle'
    labels:
      - 'dependencies'
      - 'automated'
    commit-message:
      prefix: 'chore'
      include: 'scope'

  # Enable version updates for npm in CRM app
  - package-ecosystem: 'npm'
    directory: '/apps/crm'
    schedule:
      interval: 'weekly'
      day: 'monday'
      time: '09:00'
    open-pull-requests-limit: 5
    reviewers:
      - 'teazle'
    labels:
      - 'dependencies'
      - 'crm'
      - 'automated'
    commit-message:
      prefix: 'chore'
      include: 'scope'
